@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans";
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  /* changed this */
  background-color: rgb(21 18 41);
}

a {
  text-decoration: none;
  color: white;
}

/*Navbar Items*/

.navbar {
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: rgba(20, 11, 70, 1);
  color: white;
  position: fixed;
  user-select: none;
  top: 0;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100vw;
  align-items: center;
}

.navbar ul li {
  cursor: pointer;
}

/*Logo Items*/

.logo {
  gap: 10px;
  font-size: 25px;
  font-weight: bolder;
  transition: ease-in-out 0.1s;
}

.logo:hover {
  transform: scale(1.1);
}

/*User-Sign Items*/

.user-sign {
  display: flex;
  gap: 30px;
  margin-right: 50px;
}

.user-sign li {
  padding: 6px 30px;
  border: 2px white solid;
  border-radius: 40px;
  transition: 0.2s ease-in-out;
  font-weight: 800;
}

.user-sign li:nth-of-type(2) {
  background-color: rgb(81, 193, 231);
  color: rgb(255, 255, 255);
}

.user-sign li:hover {
  background-color: rgb(55, 40, 134);
}

.user-sign li:nth-of-type(2):hover {
  background-color: rgb(69, 163, 194);
}

/*Navigation Items*/

.navigation {
  display: flex;
  gap: 45px;
  font-size: 19px;
  font-weight: 900;
}

.navigation li {
  transition: ease-in-out 0.1s;
  text-decoration: underline solid rgba(0, 0, 0, 0);
  text-underline-offset: 4px;
}

.navigation li:hover {
  text-decoration: underline solid white 2px;
}

#highlighted {
  color: rgb(54, 184, 227);
}

.navigation #highlighted:hover {
  transition: ease-in-out 0.1s;
  text-decoration: underline solid rgb(46, 162, 200) 2px;
}

#hamburger {
  width: 30px;
  height: 25px;
  display: none;
}

.mobilebar {
  display: none;
}

.mobilebar.active {
  top: 10vh;
  width: 100vw;
  height: 60vh;
  background-color: rgba(10, 5, 37, 1);
  position: fixed;
  display: block;
}

.mobilebar.active a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.mobilebar.active a:hover {
  background-color: rgb(54, 184, 227);
}

.home {
  display: flex;

  align-items: center;
  justify-content: center;
  /* changed this */
  flex-wrap: wrap-reverse;
  /* changed this */
  padding: 5rem 5rem;
  /* changed this */
  gap: 100px;
  color: white;
  text-align: center;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* changed this */
  max-width: 30rem;
}

.home-text h2 {
  font-size: 30px;
}

.home-text p {
  font-size: 17px;
}

.home h1 {
  font-size: 50px;
  font-weight: 900;
}

.home button {
  max-width: 200px;
  padding: 14px 50px;
  background-color: rgb(54, 184, 227);
  color: rgb(39, 30, 90);
  font-weight: bold;
  font-size: 17px;
  border: 0;
  border-radius: 10px;
  transition: ease-in-out 0.2s;
  margin-top: 10px;
}

.home button:hover {
  background-color: rgb(51, 168, 207);
  transform: scale(1.05);
}

.home-pic {
  height: 550px;
  width: 400px;
  background-image: url(prof.png);
  background-size: cover;
  /* changed this */
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}

.about {
  background-color: #140b46;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.about-text {
  width: 70vw;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 20px 20px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 300px;
  padding: 20px;
  border-radius: 40px;
  background: linear-gradient(rgb(54, 184, 227), rgb(39, 30, 90));
}
.card-icon {
  font-size: 50px;
  line-height: 80px;
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card-title {
  width: 300px;
  padding: 10px 0;
  color: #36b8e3;
  background-color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.projects {
  color: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.project {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
  padding: 10px;
}

.project-description {
  text-align: left;
  max-width: 40%;
}
.project-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 160px;
  height: 50px;
  margin-top: 20px;
  padding: 10px;
  background-color: #36b8e3;
  box-shadow: 0 0 20px #888888;
}
.project-button:hover {
  background-color: white;
  color: black;
}
.project-image {
  width: 30rem;
  box-shadow: 0 0 20px #888888;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  background-color: #140b46;
  color: white;
}
.contact h1 {
  margin: 10px 0;
}
.contact h3 {
  margin: 20px 0;
}
.email-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 160px;
  height: 50px;
  margin: 20px 0;
  padding: 10px;
  background-color: #36b8e3;
  box-shadow: 0 0 20px #888888;
}
.email-button:hover {
  background-color: white;
  color: black;
}
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: black;
  width: 100%;
  height: 70px;
}
.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 20px;
  margin: 15px;
  width: 50px;
  height: 50px;
}
.social-icons a:hover {
  color: orange;
}
@media (max-width: 1150px) {
  .home {
    padding: 5rem 2.5rem;
    gap: 50px;
  }
  .home-pic {
    height: 400px;
    width: 250px;
  }
  .home-text {
    max-width: 25rem;
  }
  .home h1 {
    font-size: 40px;
  }
  .home h2 {
    font-size: 27px;
  }
  .home p {
    font-size: 16px;
  }
  .project {
    gap: 30px;
  }

  .project-image {
    width: 25rem;
  }
}
@media (max-width: 1023px) {
  .user-sign {
    display: none;
  }

  .logo {
    display: flex;
  }

  .logo li {
    font-size: 18px;
  }

  .navbar ul {
    padding: 0px 20px;
  }

  .navigation li {
    display: none;
  }

  #hamburger {
    display: block;
    margin-right: 30px;
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .project-description {
    max-width: 80%;
  }
  .project-image {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .home {
    padding: 5rem 1.5rem;
  }
}
@media (max-width: 374px) {
  .home {
    padding: 5rem 1.5rem;
    gap: 0px;
  }
  .home-text {
    max-width: 20rem;
  }
  .home h1 {
    font-size: 35px;
  }
  .home h2 {
    font-size: 25px;
  }
  .home p {
    font-size: 15px;
  }

  .project-description {
    max-width: 90%;
  }
  .project-image {
    width: 90%;
  }
}
