@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans";
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  background-color: rgb(39, 30, 90);
}

a {
  text-decoration: none;
  color: white;
}

/*Navbar Items*/

.navbar {
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: rgba(20, 11, 70, 1);
  color: white;
  position: fixed;
  user-select: none;
  top: 0;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100vw;
  align-items: center;
}

.navbar ul li {
  cursor: pointer;
}

/*Logo Items*/

.logo {
  gap: 10px;
  font-size: 25px;
  font-weight: bolder;
  transition: ease-in-out 0.1s;
}

.logo:hover {
  transform: scale(1.1);
}

/*User-Sign Items*/

.user-sign {
  display: flex;
  gap: 30px;
  margin-right: 50px;
}

.user-sign li {
  padding: 6px 30px;
  border: 2px white solid;
  border-radius: 40px;
  transition: 0.2s ease-in-out;
  font-weight: 800;
}

.user-sign li:nth-of-type(2) {
  background-color: rgb(81, 193, 231);
  color: rgb(255, 255, 255);
}

.user-sign li:hover {
  background-color: rgb(55, 40, 134);
}

.user-sign li:nth-of-type(2):hover {
  background-color: rgb(69, 163, 194);
}

/*Navigation Items*/

.navigation {
  display: flex;
  gap: 45px;
  font-size: 19px;
  font-weight: 900;
}

.navigation li {
  transition: ease-in-out 0.1s;
  text-decoration: underline solid rgba(0, 0, 0, 0);
  text-underline-offset: 4px;
}

.navigation li:hover {
  text-decoration: underline solid white 2px;
}

#highlighted {
  color: rgb(54, 184, 227);
}

.navigation #highlighted:hover {
  transition: ease-in-out 0.1s;
  text-decoration: underline solid rgb(46, 162, 200) 2px;
}

#hamburger {
  width: 30px;
  height: 25px;
  display: none;
}

.mobilebar {
  display: none;
}

.mobilebar.active {
  top: 10vh;
  width: 100vw;
  height: 60vh;
  background-color: rgba(10, 5, 37, 1);
  position: fixed;
  display: block;
}

.mobilebar.active a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.mobilebar.active a:hover {
  background-color: rgb(54, 184, 227);
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5rem;
  padding-left: 5rem;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  gap: 200px;
  color: white;
  text-align: center;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 40vw;
}

.home-text h2 {
  font-size: 30px;
}

.home-text p {
  font-size: 17px;
}

.home h1 {
  font-size: 50px;
  font-weight: 2000;
}

.home button {
  max-width: 200px;
  padding: 14px 50px;
  background-color: rgb(54, 184, 227);
  color: rgb(39, 30, 90);
  font-weight: bold;
  font-size: 17px;
  border: 0;
  border-radius: 10px;
  transition: ease-in-out 0.2s;
  margin-top: 10px;
}

.home button:hover {
  background-color: rgb(51, 168, 207);
  transform: scale(1.05);
}

.home-pic {
  height: 550px;
  width: 400px;
  background-image: url(prof.png);
  background-size: cover;
}

@media (max-width: 1023px) {
  .user-sign {
    display: none;
  }

  .logo {
    display: flex;
  }

  .logo li {
    font-size: 18px;
  }

  .navbar ul {
    padding: 0px 20px;
  }

  .navigation li {
    display: none;
  }

  #hamburger {
    display: block;
    margin-right: 30px;
    cursor: pointer;
  }
}
